

.login{
    width: 500px;
    background-color: rgba(255,255,255,0.5);
    padding: 20px;
    margin: 12% auto;

}

.panel {
    background-color: #fff;
    border: 1px solid #CCC !important;
    border-radius: 4px;
    
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid #bce8f1;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    color: #fff;
    background-color: #333;
}

.panel-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: inherit;
}
.forgot {
    float: right;
    font-size: 12px;
    position: relative;
    top: -10px;
}
.forgot a{
    color: #31708f;
}

.panel-body {
    padding: 15px;
    padding-top: 30px;
}
.btn-success {
    color: #fff;
    background-color: #000;
    border-color: #4cae4c;
    opacity: 1 !important;
    padding: 8px 40px;
}

.notifyClass {
    position: absolute;
    bottom: 0;
    right: 0;
}

span.redItalic {
    color: #FF0000;
}


