<div class="login">
    <div class="panel panel-info">
    <div class="panel-heading">
        <div class="panel-title">Sign In</div>
        <div class="forgot"><a href="#">Forgot password?</a></div>
    </div>
    <div class="panel-body">
    <form  (ngSubmit)="login()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="username">Email</label>
            <input type="email" class="form-control" name="email" ngModel #email="ngModel" required email />
            <div *ngIf="email.errors && email.touched">
	            <span *ngIf="email.errors.required" class="redItalic">Email required.</span>
	            <span *ngIf="!email.errors.required && email.errors.email" class="redItalic">Email not valid.</span>
            </div>
            <!-- <div *ngIf="(email.touched && !email.valid) || (f.submitted && !email.valid)" class="help-block">Email is required</div> -->
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" ngModel #password="ngModel" required minlength="6" maxlength="15" />
            <div *ngIf="password.errors && password.touched">
	            <span *ngIf="password.errors.required" class="redItalic">Password required.</span>
	            <span *ngIf="!password.errors.required && (password.errors.minlength || password.errors.maxlength)" class="redItalic">Password length must be in between of 6 and 15.</span>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading || !f.valid" class="btn btn-success">Login</button>
        </div>
    </form>
    </div>
    </div>
</div>
<div *ngIf="webserviceError" class="alert alert-danger notifyClass alert-dismissible fade in">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Login Fail!</strong> Username and password is incorrect
</div>
<div  *ngIf="webservicePass" class="alert alert-success notifyClass alert-dismissible fade in">
<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Successfully login.
</div>